body{
 
    font-family: 'Merriweather', serif;
    margin: 0;
}
section{
    display: flex;
    margin-bottom: 150px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    
}
h1{
    font-size: 40px;
    
}


.orange-color{
    color: orange;
}


.half{
 
    width: 50%;
    padding-left: 5%;
    
}
.half img{
    width: 80%;
   
  
}

.link-button{
    text-decoration:none;
    background-image: linear-gradient(orange, tomato);
    padding:10px 40px;
    color: white;
    border-radius: 5px;
    font-weight: 700px;

}
.mid-banner{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.dis{
    display: block;
    font-weight: 700px;
}
.card{
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
    box-shadow: 5px 5px 40px grey;
    border-radius: 5px 5px 5px 0px;
padding-left: 20px;
    

}


#ful-stack{
    border-left:5px solid;
    border-image:linear-gradient(lightskyblue, red) ;
    border-image-slice: 30%;
}
#baby-stack{
    border-left:5px solid;
    border-image: linear-gradient(rgb(92, 12, 145), rgb(25, 216, 175));
    border-image-slice: 1;
}

.bottom-banner{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}

footer p{
    text-align: center;
}